
body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register_container {
    max-width: 400px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register_container h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.register_container form label {
    font-weight: bold;
}

.register_container form select,
.register_container form button {
    margin-bottom: 20px;
}

.register_container form select {
    width: 100%;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
}

.register_container form button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.register_container form button:hover {
    background-color: #0056b3;
}

/* .btn {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
} */
.text-center .btn{
    text-decoration: underline;
}

.btn:hover {
    background-color: #007bff;
}

.text-center {
    text-align: center;
}
