/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Nguyen Ha Tuan Nguyen
Nguyen Hai Nguyen
Le Ha My
Tran Duc Long
Nguyen Minh Hieu
ID: S3978072
S3978275
S3938177
S3978673
S3978107
Acknowledgement: ChatGPT, Claude, bootstrap, w3school. */
#Logo {
    mix-blend-mode: multiply;
    height: 35px;
}

#Blog {
    width: 100%;
    overflow-x: auto;
    background-color: #f5f5f5;
    padding-bottom: 20px;
    scroll-snap-type: x mandatory;
}

#BlogHeader {
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.blog-post {
    scroll-snap-align: center;
}