/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Nguyen Ha Tuan Nguyen
Nguyen Hai Nguyen
Le Ha My
Tran Duc Long
Nguyen Minh Hieu
ID: S3978072
S3978275
S3938177
S3978673
S3978107
Acknowledgement: ChatGPT, Claude, bootstrap, w3school. */
#Logo {
    mix-blend-mode: multiply;
    height: 35px;
}

#Blog {
    width: 100%;
    overflow-x: scroll;
    background-color: #f5f5f5;
    padding-bottom: 20px;
    scroll-snap-type: x mandatory;
}

#BlogHeader {
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.blog-post {
    scroll-snap-align: center;
}



body {
    margin-top: 20px;
    background-color: white;
}

.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 100px;
}

.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.font-size-18 {
    font-size: 18px !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    text-decoration: none !important;
}

.w-xl {
    min-width: 160px;
}

.card {
    margin-bottom: 24px;
    -webkit-box-shadow: 0 2px 3px #e4e8f0;
    box-shadow: 0 2px 3px #e4e8f0;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff0f2;
    border-radius: 1rem;
}