html{
    padding: 0;
    margin: 0;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    
}

.small-img{
    max-width: 123.5px;
    max-height: auto;
    scroll-snap-align: center;

}

.sproduct select{
    display: block;
    padding: 5px 10px;
}

.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.sproduct input:focus {
    outline: none;
}

.buy-btn{
    height: 40px;
    width: 200px;
    background: black;
    color: white;
    opacity: 1;
    transition: 0.3 all;
}

#related-product a{
    text-decoration: none;
    color: black;
}

#related-product a:hover{
    text-decoration: underline;
}

.breadcrumb a{
    text-decoration: none;
    color: black;
}

.breadcrumb a:hover{
    text-decoration: underline;
}