/* Custom CSS for medium-sized screens */
/* small screen */
@media (min-width: 768px) {
    .dropdown-menu.dropdown-menu-md-columns {
        column-count: 3; /* Display as three columns */
        column-gap: 1rem; /* Add some spacing between columns */
    }
    #Home {
        font-size: x-large;
        margin-right: 30px;
    }
    .nav-item {
        margin: 0;
        padding: 0;
    }
}

/* big screen */
@media (min-width: 992px) {
    .dropdown-menu.dropdown-menu-md-columns {
        column-count: 2; /* Display as three columns */
        column-gap: 1rem; /* Add some spacing between columns */
    }
    #Home {
        font-size: x-large;
        margin-right: 30px;
    }
    .nav-item {
        margin: 0;
        padding: 0;
        justify-self: center;
        align-self: center;
    }
}

