.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }


.register_page {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register_container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.register_container form label {
  margin-top: 10px;
}

.register_container form button {
  margin-top: 10px;
}

h2 {
  text-align: center;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}
button:hover {
  background-color: #0056b3;
}