html{
    background: #eee;
    padding: 0;
    margin: 0;
}

#Logo {
  mix-blend-mode: multiply;
  height: 35px;
}

#Blog {
  width: 100%;
  overflow-x: scroll;
  background-color: #f5f5f5;
  padding-bottom: 20px;
  scroll-snap-type: x mandatory;
}

#BlogHeader {
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.blog-post {
  scroll-snap-align: center;
}

h3{
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.content{
  width: 30%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: .4s;
  background: white;
}

.content:hover{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);  
}

.img{
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

p{
  text-align: center;
  color: black;
  padding-top: 0 8px;
}

h6{
  font-size: 26px;
  text-align: center;
  margin: 0;
}

.buy-1{
  text-align: center;
  font-size: 24px;
  color: white;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgb(42, 81, 255); 
}

@media (max-width: 992px) {
  .content{
    width: 40%;
  }
}

@media (max-width: 768px) {
  .content{
    width: 60%;
  }
}