<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Nguyen Ha Tuan Nguyen
Nguyen Hai Nguyen
Le Ha My
Tran Duc Long
Nguyen Minh Hieu
ID: S3978072
S3978275
S3938177
S3978673
S3978107
Acknowledgement: ChatGPT, Claude, bootstrap, w3school. -->

<h1>Add Product</h1>
<form action="/add_product" method="post">
  <label for="imgSrc">Image link:</label>
  <input type="text" id="imgSrc" name="imgSrc" required>
  <br>
  <label for="title">Product Name:</label>
  <input type="text" id="title" name="title" required>
  <br>
  <label for="price">Price:</label>
  <input id="text" name="price" required>
  <br>
  <label for="link">link:</label>
  <input type="text" id="link" name="link" required>
  <br>

  <!-- Add other product fields as needed -->
  <button type="submit">Add Product</button>
</form>
