<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/forgotPassword.css" rel="stylesheet">
</head>
<body>
    <div class="container forgot-password-container">
        <div class="card forgot-password-card">
            <h2 class="forgot-password-heading">Forgot Password</h2>
            <form action="forgotPassword.ejs" method="post">
                <div class="form-group">
                    <label for="identifier">Email or Username</label>
                    <input type="text" class="form-control" id="identifier" name="identifier" required placeholder="Enter Email or Username">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Continue</button>
            </form>
        </div>
    </div>
    <!-- Add Bootstrap JS and jQuery scripts at the end of the body -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
