

  <!--Main Navigation-->
  <header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
      <div class="container">
        <div class="row gy-3">
          <!-- Left elements -->
          <div class="col-lg-2 col-sm-4 col-4">
            <a href="customer" class="float-start">
              <img src="/img/Logo.png" id="Logo" alt="Logo">
            </a>
          </div>
          <!-- Left elements -->

          <!-- Center elements -->
          <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="d-flex float-end">
                <div class="dropdown" id="profile-dropdown">
                    <a class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" id="dropdown-trigger">
                      <i class="fas fa-user-alt m-1 me-md-2"></i>
                      <p class="d-none d-md-block mb-0">Profile</p>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-trigger">
                      <a href="\login" class="dropdown-item">View my profile</a>
                      <a href="/login" class="dropdown-item">Logout</a>
                      <!-- Add more dropdown items here :3 -->
                    </div>
                  </div>                                 
              <a href="wishlist"
                class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i
                  class="fas fa-heart m-1 me-md-2"></i>
                <p class="d-none d-md-block mb-0">Wishlist</p>
              </a>
              <a href="shopping_cart"
                class="border rounded py-1 px-3 nav-link d-flex align-items-center"> <i
                  class="fas fa-shopping-cart m-1 me-md-2"></i>
                <p class="d-none d-md-block mb-0">My cart</p>
              </a>
            </div>
          </div>
          <!-- Center elements -->

          <!-- Right elements -->
          <div class="col-lg-5 col-md-12 col-12">
            <div class="input-group float-center">
              <div class="form-outline">
                <input type="search" id="form1" class="form-control" placeholder="Search" />
              </div>
              <button type="button" class="btn btn-primary shadow-0">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <!-- Container wrapper -->
      <div class="container justify-content-center justify-content-md-between">
        <!-- Toggle button -->
        <button class="navbar-toggler border py-2 text-dark" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-dark" aria-current="page" href="#"><b id="Home">Home</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">On Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Best Sellers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">New Arrival</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Trending</a>
            </li>
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu dropdown-menu-md-columns" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="\elec_page">Electronics</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Clothing and Apparel</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Home and Garden</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Beauty and Personal Care</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Toys and Games</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Books and Literature</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Health and Fitness</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Sports Equipment</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Automotive</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Food and Beverages</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Travel and Tourism</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Music and Entertainment</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Pets and Animals</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Art and Crafts</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Business and Finance</a>
                </li>
              </ul>
            </li>
          </ul>
          <!-- Left links -->
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    </header>